<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RUT Car Sales</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:method="post" th:action="@{/users/logout}">
                        <input class="btn btn-link nav-link" type="submit" value="Logout">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/offers/">All Offers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/offers/create">Create Offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/brands/">Brands</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
